*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: url(https://png.pngtree.com/thumb_back/fh260/background/20190222/ourmid/pngtree-two-color-gradient-universal-background-material-color-matching-backgroundtwo-tone-image_51848.jpg);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgba(0, 0, 0, 0);
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1.5px;
}
ul li{
    display: inline-block;
    list-style: none;
    padding: 0 20px;
}
a{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
button{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background: lightpink;
    padding: 14px;
    border-radius: 5px;
    border: solid;
    border-color: lightpink;

}
.info{
    width: 50%;
    margin-left: 10%;
    margin-top: 5%;
}
.info h2{
    font-size: 60px;
    padding: 30px 0;
}
.info p{
    color: #fff;
}
.lst-btn{
    width: 120px;
    height: 40px;
    font-size: 14px;
    background-color: rgb(45, 158, 196);
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    border: solid;
    border-color: rgb(45, 158, 196);
    border-radius: 5px;
}
.lst-btn2{
    width: 120px;
    height: 40px;
    font-size: 14px;
    background-color:transparent;
    border: solid;
    float: left;
    border-color: rgb(45, 158, 196);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-right: 15px;
    border-radius: 5px;
}
.img{
    display: flex;
    justify-content: space-around;
    box-shadow: 10px #fff;
    height: 200px;
}




